# Build artifacts
obj
bin
lib.*
lib

# Imported Prettier testsuite
testsuite/tests/prettier

# Testsuite output
out
testsuite/out

# Python artifacts
*.pyc

# Clang-Format Style Options
.clang-format
